body {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6b2935+0,8a4051+50,6b2935+100 */
background: #6b2935; /* Old browsers */
background: -moz-linear-gradient(left, #6b2935 0%, #8a4051 50%, #6b2935 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #6b2935 0%,#8a4051 50%,#6b2935 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #6b2935 0%,#8a4051 50%,#6b2935 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b2935', endColorstr='#6b2935',GradientType=1 ); /* IE6-9 */
}