/* Geral */
body {
}

h1 {
  margin-bottom: 45px;
}

/* Navbar menu */
.navbar-logo {
    width: 90px;
  }

  /*Video*/
  #videoSecao {
    background-color: #f4f4f4;
    padding: 30px;
  }

  /*Equipe*/
  .equipeTitulo {
    margin-top: 45px;
  }

  .equipe img {
    margin-bottom: 25px;
  }


@media (min-width: 992px) { 
  .equipe p {
    text-align: left;
  }
 }